<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="~/css/main.css"  />
<link rel="stylesheet" href="~/css/menu.css"  />
<link rel="stylesheet" href="~/css/back.css"/>
<link rel="stylesheet" href="~/css/modal.css"/>
</head>
<body>
    <div class="navigator">

        @if(User.Claims.FirstOrDefault(claim => claim.Type == "IdClient") != null)
        {
            <div class="user-info">
            <div class="user-info__fio">
                @User.Claims.FirstOrDefault(claim => claim.Type == "Name").Value @User.Claims.FirstOrDefault(claim => claim.Type == "Surname").Value
            </div>

            <a asp-controller="Log" asp-action="Logout" class="user-info__exit">
                <img src="~/images/icons/exit.png">
            </a>
        </div> 
        }
       

         <div class="navigator_logo">
          <img height ="60px" src="~/images/logo.png" alt="">
           
           <h2>ДИЗАЙНЕРСКАЯ МЕБЕЛЬ</h2> 
        </div> 
<!-- - valtimperium - -->
       

        <ul class="menu">
          <li><a class="menuItem"  asp-controller="Main" asp-action="Main">ГЛАВНАЯ</a></li>
          <li><a class="menuItem menuItemActive" asp-action="About"> О НАС </a></li>
          <li><a class="menuItem " asp-action="Catalog">КАТАЛОГ</a></li>
          
                    @if(User.Claims.FirstOrDefault(claim => claim.Type == "IdClient") == null)
                    {
                        <li>
                            <p class="menuItem madal_entr_btn"  >
                                ВХОД
                            </p>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a class="menuItem" asp-action="Index" asp-route-idClient="@User.Claims.FirstOrDefault(claim => claim.Type == "IdClient").Value" asp-controller="Client" >
                                КАБИНЕТ
                            </a>
                        </li>
                    }
        </ul>

        <button class="hamburger">
          <!-- material icons https://material.io/resources/icons/ -->
          <img width="32px" height="32px" class="menuIcon material-icons" src="~/images/-.png" alt="">
          <img width="32px" height="32px" class="closeIcon  " src="~/images/а.png" alt="">

          
        </button>
    </div>

<div class="video_content">
  <video width="100%" height="800px" autoplay loop muted playsinline src="~/images/video/аа.mp4"></video>
</div>

<div class="about_title">
  История
</div>
<div class="about_content">

<div class="about_history">
  Компания "valtimperium" зародилась из чувства прекрасного. Вдохновлённые духом модернизма смешанным с традиционным изыском и лаконичностью, осноыватели компании решили передать своё чувство прекрасного в неодушевлённую мебель. Будучи помешанными на качестве и имея синдром отличника, они с трепетом выбирают каждый кусочек и материал изделия, чувствуя неподдельный восторг от каждого нового произведения искусства. 
</div>
<img src="~/images/Proektirovanie-mebeli.jpg" alt="">
</div>



<div class="modal">
  <div class="modal__dialog">
    <div class="btns-change">
              <div class="btn-change btn_entr">
                ВХОД
              </div>
              <div class="btn-change btn_reg">
                РЕГИСТРАЦИЯ
              </div>
            </div>
      <div class="modal__content">

          
            <form asp-controller="Log" asp-action="Login" method="post" class="form_entr">
           
             <div class="modal__inputs">
              <input required placeholder="Логин (только латиница)" name="login" type="text" minlength="6" pattern="^[a-zA-Z]+$" id="log" class="modal__input">
              <input required placeholder="Пароль" name="password" type="password" minlength="8" class="modal__input">
             </div>
         
              <button class="modal__btn"> Войти </button>
          </form>
          <form asp-controller="Log" asp-action="Register" method="post" class="form_reg">
            <div class="modal__inputs">
              <div class="fio_block">
                <input required placeholder="Имя" name="name" type="text" minlength="2" class="modal__input name_inp" >
                <input required placeholder="Фамилия" name="surname" minlength="2" type="text" class="modal__input name_inp">
              </div>
              <input required placeholder="Логин (только латиница)" name="login" minlength="6" type="text" pattern="^[a-zA-Z]+$" class="modal__input">
              <input required placeholder="Пароль" name="password" minlength="8" type="password" class="modal__input">
              <input required placeholder="Телефон" name="phone" type="number" minlength="10" class="modal__input">
            </div>
              <button class="modal__btn"> Зарегистрироваться </button>
          </form>
      </div>
  </div>
</div>



      <footer>
        <img src="~/images/icons/-v.png"  alt="">
        
        <div class="footer_logo" >
          VALTIMPERIUM
        </div>
        
        <div class="icons_seti">
          <img class="icon" src="~/images/icons/instagram.png" alt="">
          <img class="icon" src="~/images/icons/telega.png" alt="">
          <img class="icon" src="~/images/icons/facebook.png" alt="">
        </div>
        
        <div class="phones">
        <p> 066-46-80-440 </p>
        <p> 095-53-63-060 </p>
        </div>
        
        </footer>
  

   <script src="~/js/form.js" ></script>

    <!-- <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script> -->
    <script src="~/js/menu.js" ></script>
</body>
</html>